# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Ignore dependencies (very heavy)
node_modules/
citisolve-frontend/node_modules/
citisolve-backend/node_modules/

# Ignore secrets (CRITICAL)
.env
citisolve-backend/.env

# Ignore build files
build/
dist/